@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
.App {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.main {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #9aebf9;
}
.header {
  font-size: 36px;
  margin-bottom: 20px;
  float: right;
  color: hsl(313, 82%, 51%);
  font-weight: 700;
}

.description {
  font-size: 20px;
  color: rgb(113, 107, 107);
  text-transform: capitalize;
  margin-top: 15px;
}
.section {
  background: #e91dbd;
  padding: 20px;
  border-radius: 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.data {
  float: right;
}
.numb {
  font-size: 18px;
  color: rgb(83, 74, 74);
  font-weight: 700;
  text-align: start;
}
.day {
  font-size: 18px;
  color: rgb(83, 74, 74);
  font-weight: 600;
  text-align: center;
}
